body, h1, h2, p, ul, li, a{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Nunito", Helvetica, Arial, sans-seriff;
	color: #222222;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
img{
	display: block;
	max-width: 100%;
}
*{
	box-sizing: border-box;
}

/*superinfo*/

.superinfo-bg{
	background: rgb(226, 229, 231);
	height: 40px;
}
.superinfo{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: space-between;
	align-content: center;
}
.superinfo span{
	color: #6ea6af;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.superinfo a{
	margin-right: 20px;
	background: #6ea6af;
	color: #fff;
	padding: 5px 20px;
	border-radius: 25px; 
	border: 1px solid transparent;
	line-height: 17px;
}
/*header*/

.menu-bg{
	background: white;
	height: 80px;
}
.space{
	padding-left: 200px;
}
.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid rgb(226, 229, 231);
}
.menu-logo{
	font-family: "baloo chettan";
	font-size: 35px;
}
.menu-form input{
	width: 200px;
	padding: 10px 20px;
	border-radius: 5px;
	border-color: #6ea6af;
}
.menu-form button{
	background: white;
	border-color: transparent;
	cursor: pointer;
}
/*nav*/
.nav-bg{
	background: transparent;
}	
.menu-nav{
	padding: 16px 20px;
	height: 48px;
}
.menu-nav ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.menu-nav a{
	display: block;
	color: #878787;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin: 0px 10px;
	padding: 14px;
}

/*footer*/

.footer{
	display: flex;	
	flex-wrap: wrap;
	background: #6ea6af;
	align-items: center;
	height: 50px;
}
.footer p{
	flex: 1;
	text-align: center;
	font-size: 16px;
	color: inherit;
}
