body, h1, h2, p, ul, li, a{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Nunito", Helvetica, Arial, sans-seriff;
	color: #222222;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
img{
	display: block;
	max-width: 100%;
}
*{
	box-sizing: border-box;
}

/*superinfo*/

.superinfo-bg{
	background: rgb(226, 229, 231);
	height: 40px;
}
.superinfo{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: space-between;
	align-content: center;
}
.superinfo span{
	color: #6ea6af;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 34px;
}
.superinfo a{
	margin-right: 34px;
	background: #6ea6af;
	color: #fff;
	padding: 5px 20px;
	border-radius: 25px; 
	border: 1px solid transparent;
	line-height: 17px;
}
/*header*/

.menu-bg{
	background: white;
	height: 80px;
}
.space{
	padding-left: 264px;
}
.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid rgb(226, 229, 231);
}
.menu-logo{
	font-family: "baloo chettan";
	font-size: 35px;
}
.menu-form input{
	width: 200px;
	padding: 10px 20px;
	border-radius: 5px;
	border-color: #6ea6af;
}
.menu-form button{
	background: white;
	border-color: transparent;
	cursor: pointer;
	margin-right: 34px;
}
/*nav*/
.nav-bg{
	background: transparent;
}	
.menu-nav{
	padding: 0px 20px;
	height: 48px;
}
.menu-nav ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.menu-nav a{
	display: block;
	color: #878787;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin: 0px 10px;
	padding: 14px;
}

/*footer*/

.footer{
	display: flex;	
	flex-wrap: wrap;
	background: #6ea6af;
	align-items: center;
	height: 50px;

}
.footer p{
	flex: 1;
	text-align: center;
	font-size: 16px;
	color: inherit;
}

/*sign-in form*/

.sign-in-background{
	background: #fff;
	padding: 80px 0;
}

.form-background{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 250px;
}
.info-form-sign-in h2{
	font-size: 40px;
	color: #4b4949;
	font-weight: normal;
	line-height: 1.5em;
}
.info-form-sign-in p{	
	color: #4b4949;
	font-size: 20px;
}
.info-form-sign-in a{
	margin-top: 20px;
	background: #171fc9;
	color: #fff;
	padding: 10px 20px;
	border-radius: 25px; 
	border: 1px solid transparent;
	line-height: 17px;
	font-size: 20px;
}
.form-sign-in{
	background: #d7d7d7;
	padding: 20px;
	border-radius: 20px;
}
.form-sign-in input{
	width: 300px;
	border-radius: 30px;
	border-color: transparent;
	height: 50px;
	font-size: 20px;
	padding: 10px;
}
.separate-info{
	padding: 10px;
}
.botao-sign-in{
	background: #171fc9;
	color: #fff;
	border-radius: 25px; 
	border: 1px solid transparent;
	line-height: 17px;
	padding: 7px 40px;
	font-size: 20px;
}
.separate-sign-in{
	margin: 20px;
}
.link-sign-in{
	color: #4b4949;
}

/*sign-up form*/

.sign-up-background{
	background: #016087;
	padding: 100px;
}

.sign-up-form-background{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px ;
	background: #fff;
	margin: 0 auto 16px;
    max-width: 400px;
    padding: 16px;
    border-radius: 3px;
}
.sign-up-form{
	display: flex;
	flex-wrap: wrap;
	display: block;
}
.sign-up-form input{
	padding: 10px 0;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
	font-size: 20px;
}
.sign-up-form label{
	text-align: left;
	font-family: roboto;
}
.sign-up-form p{
	font-size: 12px;
	text-align: center;
}
.sign-up-form a{
	color: #016087;
}
.sign-up-form button{
	background: rgb(7, 223, 176);
	border-color: transparent;	
	cursor: pointer;
	border-radius: 30px;
	padding: 20px;
	width: 100%;
	margin: 20px 0;
	font-size: 20px;
}
.back-to-sign-in a{
	color: #016087;
	margin: 50px;
}

